<!DOCTYPE html>
<html lang="eng">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="Content/css" rel="stylesheet" />-->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Resource Load Optimzation</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">
        <div class="page-header">
            <div class="col-md-12">
                    <h1>Resource Load Optimization Demo</h1>
                    <p>This demonstrates an approach to using mulitple CNAMES for the Azure CDN to parallelize IMG loading.  Given that HTTP/1 is still only 2 connections per HOST, we utilized this until HTTP/2 is fully deployed, available in Edge and later versions of Chrome.</p>
            </div>
        </div>
        <h3>Demo Loading</h3>
        <p>Press the button to load images...</p>
        <div class="row">
            <div ng-controller="ImageController">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="useBackground">Load as background image
                    </label>
                </div>
                <button ng-click="getImages('cdn')">Multipel CDN path</button>
                <button ng-click="getImages('singlecdn')">Single CDN path</button>
                <button ng-click="getImages('fcdn')">Random Host to Origin</button>
                <button ng-click="getImages()">Direct to Origin</button>
                <div class="col-md-12">
                    <div ng-repeat-start="n in images">

                        <div ng-if="useBackground" style="background-image:url({{n.src}})" class="pimg">{{n.id}}</div>
                        <div ng-if="!useBackground" class="fimg"><img src="{{n.src}}" /><p>{{n.id}}</p></div>
                    </div>
                    <div class="clearfix" ng-if="$index%5==4"></div>
                    <div ng-repeat-end=""></div>
                </div>
            </div>
        </div>

    </div><!--/.container-->
    <hr>
    <footer>
        <p>&copy; Shawn Cicoria 2015</p>
    </footer>



    <script src="bundles/jquery"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="bundles/bootstrap"></script>
    <!--<script src="bundles/ngapp"></script>-->
    <script src="App/app.js"></script>
    <script src="App/ImageService.js"></script>
    <script src="App/ImageController.js"></script>



</body>
</html>
